<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <header>
        <p>Seja bem vindo, <%= p_usuario.nome %> </p>
        <h1>Lista de Eventos</h1>
        
    </header>

    <section>
        <!-- será implementado em breve -->
    </section>
</body>
</html>