<div class="container margem">
    <h1 class="text-center">Alteração de Eventos</h1>
    <form class="form-horizontal">

        <div style="margin:auto;max-width: 800px;">

            <div class="form-group">
                <label for="descricao" class="col-md-2 control-label">Descrição:</label>
                <div class="col-md-10">
                    <input type="text" [(ngModel)]="evento.descricao" class="form-control" id="descricao" name="descricao">
                </div>
			</div>
			<div class="form-group">
                <label for="data" class="col-md-2 control-label">Data:</label>
                <div class="col-md-4">
                    <input type="date" [(ngModel)]="evento.data" class="form-control" id="data" name="data">
                </div>

                <label for="nome" class="col-md-2 control-label">Preço:</label>
                <div class="col-md-4">
                    <input type="text" [(ngModel)]="evento.preco" class="form-control" id="preco" name="preco">
                </div>
				
            </div>

            <div class="form-group">

                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-info" (click)="alterar(evento)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Alterar
                    </button>
                    <button type="button" class="btn btn-default" (click)="cancelar()">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

